* {
    padding: 0;
    margin: 0;
}

#navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #3b3b3b;
    padding: 10px;
    
}

#logo img {
    height: 55px;
    border-radius: 17px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    transition: .5s;
}

#logo {
    height: 50px;
}

.nav-element {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-element a:hover {
    color: #ff9700;
}

.search {
    height: 24px;
}

.search input,
.search button {
    height: 100%;
}

.search button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #80808052;
    background-color: #2196f3;
    color: white;
    font-family: sans-serif;
}

.menubar {
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 10px;
}


.dropdown {

    background-color: #333;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}


.bground {
    height: calc(100vh - 130px);
    width: 100vw; 
    background-repeat: none;
    /* opacity: 0.8; */
    display: flex;
    position: relative;
    justify-content: center;
    /* animation: changeImage 10s ease-in-out infinite; */
    transition-duration: 2s;
    animation-iteration-count: infinite;
    /* background-image: url("img1.jpg"); */
    /* transition: .5s; */
}
.bground div{
    height: 100%;
    width: 100%;
    position: absolute;
    /* display: none; */
    transition: 1s;
}

.bg-img{
    height: 100%;
    width: 100%;
    /* height: 400px;
    width: 400px; */
}

@keyframes changeImage {
    /* 0% {
        background-image: url("img1.jpg");
    }

    25% {
        background-image: url("img2.jpg");
    }
    
    50% {
        background-image: url("img3.jpg");
    }

    75% {
        background-image: url("img4.jpg");
    }

    100% {
        background-image: url("img5.jpg");
    } */
}

.main{
    position: relative;
}

.main-content{
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 100px;
    color:#e1d293;
    font-size: 29px;
}

.main .text{
    /* position: absolute; */
    color:#3a8bd5;
    font-size: 100px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.2;
} */

/* body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;

} */

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

ul{
    list-style: none;

}

.footer-col{
    width: 25%;

}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;

}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;

}

ul li:not(:last-child){
    margin-bottom: 8px;

}
ul li a{
display: block;
font-size: 19px;
text-transform: capitalize;
color: #bdb6b6;
text-decoration: none;
transition: 0.4s;
}

ul li a:hover{
    color: white;
    padding-left: 2px;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40,130,214,0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;

}

.links a:hover{
    color: #4d4f55;
    background-color: white;
}

@media(max-width: 740px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30%;
        text-align: center;
    }
    .footer-col h4::before{
        all:unset;
    }
}

@media (max-width:555px){
.footer-col{
    width: 100%;
}
} 